.Simple_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Simple_table .table_container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.Simple_table .item_title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.Simple_table .table_container .item_name {
  padding: 5px 0 5px 0;
  width: 220px;
  grid-column-start: 1;
  grid-column-end: 3;
  border-right: 2px solid rgb(102, 28, 240);
  border-bottom: 1px solid rgba(255, 255, 255, 0.082);
  white-space: nowrap;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.Simple_table .table_container .item_name_top {
  width: 40px;
  text-align: center;
  border-bottom: 2px solid rgb(102, 28, 240);
  border-right: 1px solid rgba(255, 255, 255, 0.082);
}

.Simple_table .table_container .item_number {
  border-bottom: 1px solid rgba(255, 255, 255, 0.082);
  border-right: 1px solid rgba(255, 255, 255, 0.082);
}

.Simple_table .table_container .number {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}