.Versus {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.153);
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.613);
    transform: rotate(-10deg);
    z-index: 30;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 50px;
    background-color: rgba(28, 1, 115, 0.797);
    transform: rotate(10deg);
    z-index: 30;
  }

  .name1 {
    min-width: 100px;
    text-align: center;
    position: relative;
    z-index: 200;
    padding-right: 10px;
  }

  .name2 {
    min-width: 100px;
    text-align: center;
    position: relative;
    z-index: 200;
    padding-left: 10px;
  }

  .hour {
    min-width: 150px;
    height: 15px;
    background-color: rgb(66, 1, 1);
    border-radius: 7px;
    border: 1px solid rgba(255, 0, 0);
    color: white;
    font-size: 0.8em;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 201;
  }
}